frontend/node_modules
frontend/.env

contracts/node_modules
contracts/.env

# Hardhat files
contracts/artifacts
contracts/cache

# TypeChain files
contracts/typechain
contracts/typechain-types

# solidity-coverage files
contracts/coverage
contracts/coverage.json

# Hardhat Ignition default folder for deployments against a local node
contracts/ignition/deployments/chain-31337
